h1{
  display: flex;
  justify-content: center;
}

button{
  color:white;
  border: none;
  background: linear-gradient( gray,black);
  padding: 20px;
}

#un{
  display: flex;
  justify-content: center;
}

#deux{
  display: flex;
  justify-content: center;
}

#trois{
  display: flex;
  justify-content: center;
}

#quatre{
  display: flex;
  justify-content: center;
}

#cinq{
  display: flex;
  justify-content: center;
}

.result{
  display: flex;
  justify-content: center;
}