h1{
  display: flex;
  justify-content: center;
}

button{
  color:white;
  border: 2px solid white;
  border-radius: 30%;
  background: linear-gradient( rgb(163, 159, 159),black);
  padding: 20px;
}

#un{
  display: flex;
  justify-content: center;
}

#deux{
  display: flex;
  justify-content: center;
}

#trois{
  display: flex;
  justify-content: center;
}

#quatre{
  display: flex;
  justify-content: center;
}

#cinq{
  display: flex;
  justify-content: center;
}

.result{
  display: flex;
  justify-content: center;
}